button, input, textarea, select {
    font-family: inherit;
    font-size: 100%;
}

input, textarea, select {
    width: 150px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

input[type="text"], input[type="url"], input[type="email"], input[type="tel"], input[type="password"], input[type="search"], input[type="number"], input[type="date"], input[type="time"], textarea {
    width: 12em;
    padding: 5px;
    margin: 10px 10px 10px 0;
    border-radius: 7px;
    background-color: #f1f1f1;
}

input[type="url"] {
    width: 20em;
}

textarea {
    vertical-align: middle;
}